<div class="card border-dark mb-3">
  <div class="card-header">Actualizar contraseña</div>
  <div class="card-body">
    <form #usuarioForm="ngForm">
      <div *ngIf="usuario.id">
      <div *ngIf="usuario.firstTime">

          <div class="form-group row pb-2">
            <label for="" class="col-form-label col-sm-2">Contraseña</label>
            <div class="col-sm-6">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="usuario.password"
                name="contraseña"
                #password="ngModel"
                required="true"
                minlength="4"
              />
              <div
                class="alert alert-danger"
                *ngIf="password.invalid && (password.dirty || password.touched)"
              >
                <div *ngIf="password.errors?.['required']">
                  La contraseña es requerida
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row pb-2">
            <label for="" class="col-form-label col-sm-2"
              >Confirmar Contraseña</label
            >
            <div class="col-sm-6">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="usuario.password2"
                name="contrasenia2"
                #password2="ngModel"
                required="true"
                minlength="4"
              />
              <div class="alert alert-danger" *ngIf="password2==password && (password2.dirty || password2.touched) ">
                <div *ngIf="password != password2">
                  Las contraseñas deben coincidir
                </div>
              </div>

                <button class="btn btn-primary" role="button" (click)="updatePassword()" [disabled]="!usuarioForm.form.valid">Actualizar contraseña</button>

            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
