

<div class="ui-g-12" style="width: 100%">
  <p-panel header="Administracion de Iniciativas Inactivas"  style="width: 100%;">
    <div style="margin-bottom: 20px">
      <p-menubar [model]="items"></p-menubar>
    </div>
    <p-table #todoTable  [value]="iniciativas" [columns]="cols" [responsive]="true" selectionMode="single"  sortMode="multiple" [(selection)]="selectedIniciativa"
    dataKey="id" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,25]" [filterDelay]="0" [globalFilterFields]="['title', 'description', 'starDate', 'endDate']">

      <ng-template pTemplate="header" let-columns>

        <tr>
          <th style="position: relative; left: 0%;">
            <input pInputText type="text" (input)="todoTable.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar" />
          </th>
        </tr>

        <tr >
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>



      </ng-template>

      <ng-template pTemplate="body" let-iniciativa let-columns="columns">
        <tr [pSelectableRow]="iniciativa">
          <td *ngFor="let col of columns">
            {{ iniciativa[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>

</div>
